body {
    background-color: darkgray;
    margin: 0;
}
main {
    position: relative;
    width: 100%;
}

#game {
    width: 600px;
    margin: auto;
    display: block;
    background-color: aliceblue;
}
